*{
  margin: 0;
  padding: 0;
  text-align: center;
}

h1{
    background-color: #081b31;
    color: white;
    height: 5rem;
    line-height: 5rem;  /* for making vertically center (jitni height hai utni line height dene se center me aa jayega)*/
}

.choice{
    height: 200px;
    width: 200px;
    font-size: 130px;
    object-fit: cover;
    border-radius: 50%;
    border-style:solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover{
    /* opacity: 70%; */
    background-color: #081b31;
    cursor: pointer;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 3rem;
}


.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

#user-score, #comp-score{
    font-size: 4rem;
}

.msg-container{
    margin-top: 5rem;
}

#msg{
    background-color: #081b31;
    color: #ffff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}